<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Html</title>
  <meta name="google-site-verification" content="yi68e4FzpHS50oJwAIj0W-OXy8zuim09ISuRcyBAbEo">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/drawer.css">
  <link rel="stylesheet" href="../fonts.css">

</head>

<body>
  <main class="main">
 
<section id="1" class="section-1">
 
  <h2>Html All Input Types</h2>
  <div class="input-container">
    
    <div>
      <label>Button</label>
      <input type="button" value="Button">
      <code>&#8249;input type="button"&#47;&#8250;</code>
    </div>
    <div>
      <label>Checkbox</label>
      <input type="checkbox" checked>
      <code>&#8249;input type="checkbox"&#47;&#8250;</code>
    </div>

    <div>
      <label>Color</label>
      <input type="color">
      <code>&#8249;input type="color"&#47;&#8250;</code>
    </div>

    <div>
      <label>Date</label>
      <input type="date">
      <code>&#8249;input type="date"&#47;&#8250;</code>
    </div>

    <div>
      <label>DateTime-Local</label>
      <input type="datetime-local">
      <code>&#8249;input type="datetime-local"&#47;&#8250;</code>
    </div>

    <div>
      <label>Email</label>
      <input type="email">
      <code>&#8249;input type="email"&#47;&#8250;</code>
    </div>

    <div>
      <label>File</label>
      <input type="file">
      <code>&#8249;input type="file"&#47;&#8250;</code>
    </div>

    <div>
      <label>Hidden</label>
      <input type="hidden">
      <code>&#8249;input type="hidden"&#47;&#8250;</code>
    </div>

    <div>
      <label>Image</label>
      <input type="image" src="../assets/placeholder.png" width="30" height="auto"> 
      <code>&#8249;input type="image" src="show-image/placeholder.png" &#47;&#8250;</code>
    </div>

    <div>
      <label>Month</label>
      <input type="month">
      <code>&#8249;input type="month"&#47;&#8250;</code>
    </div>

    <div>
      <label>Number</label>
      <input type="number">
      <code>&#8249;input type="number"&#47;&#8250;</code>
    </div>

    <div>
      <label>Password</label>
      <input type="password">
      <code>&#8249;input type="password"&#47;&#8250;</code>
    </div>

    <div>
      <label>Radio</label>
      <input type="radio">
      <code>&#8249;input type="radio"&#47;&#8250;</code>
    </div>

    <div>
      <label>Range</label>
      <input type="range">
      <code>&#8249;input type="range"&#47;&#8250;</code>
    </div>

    <div>
      <label>Reset</label>
      <input type="reset">
      <code>&#8249;input type="reset"&#47;&#8250;</code>
    </div>

    <div>
      <label>Search</label>
      <input type="search">
      <code>&#8249;input type="search"&#47;&#8250;</code>

    </div>

    <div>
      <label>Submit</label>
      <input type="submit">
      <code>&#8249;input type="submit"&#47;&#8250;</code>
    </div>
    <div>
      <label>Tel</label>
      <input type="tel">
      <code>&#8249;input type="tel"&#47;&#8250;</code>
    </div>
    <div>
      <label>Text</label>
      <input type="text">
      <code>&#8249;input type="text"&#47;&#8250;</code>
    </div>
    <div>
      <label>Time</label>
      <input type="time">
      <code>&#8249;input type="time"&#47;&#8250;</code>
    </div>
    <div>
      <label>Url</label>
      <input type="url">
      <code>&#8249;input type="url"&#47;&#8250;</code>
    </div>
    <div>
      <label>Week</label>
      <input type="week">
      <code>&#8249;input type="week"&#47;&#8250;</code>
    </div>
  </div>
</section>
</main>
  <script src="../javascript/index.js" type="text/javascript"></script>
  <script src="../javascript/drawer.js" type="text/javascript"></script>
</body>

</html>